// 単位変換関数

// SP用ブラウザ幅連動
@function vw($px) {
    @return calc($px * 100vw / 390); // 390pxはカンプの幅を記述
}

// PC用ブラウザ幅連動
// ヘッダー・カバーなどブラウザ幅一杯のコンテンツ用
@function vwPC($px) {
    @return calc($px * 100vw / 1440); // 1536pxはカンプの幅を記述
}

@function px2Rem($px) {
    @return calc($px / 16) * 1rem;
}

// 下記でmin/max関数をScssの関数ではなくcssの関数として出力するためのラッパー
@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

// PC用途中までブラウザ幅連動。$pxより大きくなったら$pxにする関数
// マイナスの値も対応。
@function mvw($px) {
    // 1200pxはカンプ幅ではなくコンテンツ幅(コンテンツ左右のガイド線間の幅 + 少し余白)
    $value1: calc($px * 100vw / 1030);
    $value2: px2Rem($px);

    @if $px >=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}
$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Outfit','Noto Sans JP', sans-serif;
}
.header{
    background-color: #f8f8f8;
    padding: vw(10) vw(9) vw(1) vw(12);
    max-width: 100%;
    @include mq(md) {
    padding: mvw(22) mvw(20) mvw(15) mvw(20);
    }
    &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: vw(6);
    max-width: vw(350);
    margin: 0 auto;
    @include mq(md) {
        max-width: mvw(1030);
        gap: 0;
    }
}
    &__logo{
        width: vw(78);
        height: vw(42);
        @include mq(md) {
            width: mvw(105);
            height: mvw(60);
        }
    }
    &__btn{
        width: vw(300);
        display: flex;
        gap: vw(10);
        margin-top: vw(3);
        @include mq(md) {
            width: mvw(512);
            gap: 3%;
        }
    }
    &__btn a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: vw(12);
        @include mq(md) {
            font-size: mvw(21.12);
    }
}
    &__btn--item{
        height: vw(31);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: vw(4);
        letter-spacing: -0.05em;
        @include mq(md) {
            height: mvw(51);
            gap: mvw(13);
    }
}
    &__btn--inquiry{
        background-color: #fa7da3;
        width: vw(107);
        @include mq(md) {
            width: 32%;
        }
    }
    &__btn--counseling{
        width: vw(173.77);
        background-color: #49c43d;
        @include mq(md) {
            width: 58%;
        }
    }
    &__btn--free{
        font-size:vw(10);
        @include mq(md) {
            font-size: mvw(17.87);
        }
    }
    .header-arrow-right{
        color: #fff;
    }
}
.main{
    background-color: #fa7da3;
    max-width: 100%;
    background-size: cover;
    height: vw(318);
    @include mq(md) {
        height: mvw(612);
        padding: mvw(0) mvw(20);
    }
    &__top{
        @include mq(md) {
            max-width: mvw(1030);
            margin: 0 auto;
            height: 100%;
        }
    }
    &__top--flex{
        display: flex;
        justify-content: space-between;
        @include mq(md) {
            height: 100%;
        }
        
    }
    &__top--left--item{
        padding: vw(23) vw(1) vw(0) vw(20);
        color: #fff;
        text-align: center;
        width: vw(178);
        height: vw(78);
        @include mq(md) {
            padding: mvw(0) mvw(1) mvw(0) mvw(48);
            width: mvw(549);
            height: mvw(611);
            position: relative;
        }
    }
    &__top--left--full--body--img--pc{
        display: none;
        @include mq(md) {
        display: block;
        width: mvw(510);
        height: mvw(189);
        position: absolute;
        top: auto;
        z-index: 1;
    }
}
&__top--left--full--body--img--sp{
    width: vw(181);
    height: vw(75);
    @include mq(md) {
    display: none;
}
}
&__top--left--content--under--img{
    background-image: url(/assets/images/lady_pc.png);
    width: vw(209);
    height: vw(215);
    background-size: cover;
    @include mq(md) {
        width: mvw(486);
        height: mvw(500);
        position: absolute;
        bottom: 0;
}
}
&__top--right--item{
    width: vw(188);
    height: vw(107);
    @include mq(md) {
        width: mvw(424);
        height: mvw(610);
    }

}
    &__top--right--content{
        display: flex;
        width: vw(188);
        height: vw(107);
        background-color: rgba(247, 223, 223, 0.5);
        padding: vw(24) vw(20) vw(25) vw(24);
        gap: vw(14);
        align-items: center;
        margin-bottom: vw(11);
        box-shadow: 10px 5px 5px #e77497;
        @include mq(md) {
            width: mvw(423.02);
            height: mvw(222);
            padding: mvw(37) mvw(10) mvw(59) mvw(10);
            top: 0;
            gap: mvw(26);
            margin-bottom: mvw(7);
    }
}
    
    
    &__top--right--content--now{
        width: vw(47);
        height: vw(23);
        background-color:#fff;
        font-size: vw(13);
        font-weight: bold;
        color:#fa7da3 ;
        text-align: center;
        margin-bottom: vw(10);
        @include mq(md) {
            width: mvw(105.76);
            height: mvw(51.65);
            font-size: mvw(29.25);
            margin-bottom: mvw(24);
        }

    }
    &__top--right--content--first-month{
        font-size: vw(24);
        font-weight: bold;
        color: #fff;
        @include mq(md) {
            font-size: mvw(54);
            width: mvw(113);
        }
    }
    &__top--right--content--price{
        font-size: vw(74);
        color: #fffd7a;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        @include mq(md) {
            font-size: mvw(171);
            white-space: nowrap;
        }
    }
    &__top--right--content--yen{
        font-size: vw(36);
        @include mq(md) {
            font-size: mvw(81);
        }
    }
    &__top--right--content--note{
        font-size: vw(14);
        color: #fff;
        width: vw(71);
        margin-left: 30vw;
        @include mq(md) {
            font-size: mvw(26.48);
            width: mvw(137);
            margin-left: 0;
            margin-bottom: mvw(54);
        }
    }
    &__top--right--content--note--yen{
        font-size: vw(9);
        @include mq(md) {
            font-size: mvw(17.02);
        }
    }

    &__top--right--content--box{
        list-style: none;  
        color: #fff;
        font-size: vw(18);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: vw(12);
        @include mq(md) {
            font-size: mvw(28);
            gap: mvw(20);
        }
    }
    &__top--right--content--box--item{
        border: #fff solid 1px;
        width: vw(133);
        height: vw(35);
        text-align: center;
        @include mq(md) {
            width: mvw(424);
            height: mvw(71);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.present{
    height: vw(191);
    background-color: #fffedd;
    padding: vw(20) vw(19) vw(16) vw(21);
    color: #fa7da3;
    text-align: center;
        @include mq(md) {
        height: mvw(315);
        padding:mvw(34) mvw(20) mvw(26) mvw(20);
        
        }    
&__content--now{
    font-size: vw(21);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: vw(13);
    @include mq(md) {
        font-size: mvw(34);
        padding-bottom: mvw(20);
    }
}
&__content--now--left{
    width: vw(25);
    transform: rotate(65deg);
    transform-origin:right top;
    border: 1px solid #fa7da3;
    display: block;
    @include mq(md) {
        width: mvw(44.2);
    }
}
&__content--now--right{
    width: vw(25);
    transform: rotate(-65deg);
    transform-origin:left top;
    border: 1px solid #fa7da3;
    display: block;
    @include mq(md) {
        width: mvw(44.2);
    }
}
&__content--box{
    width: vw(350);
    height: vw(93);
    border: 1px solid #fa7da3;
    border-radius: 10px;
    margin-bottom: 10px;
    @include mq(md) {
        max-width: mvw(550);
        height: mvw(148);
        margin-bottom: 20px;
        margin: 0 auto;
    }
}
&__content--box--pink{
    background-color: #fa7da3;
    color: #fff;
    font-size: vw(21);
    border-radius: 10px 10px 0 0;
    height: vw(32);
    @include mq(md) {
        font-size: mvw(32);
        height: mvw(47);
    }
}
&__content--box--white{
    color: #fa7da3;
    font-size: vw(27);
    padding: vw(14) 0 ;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    height: vw(59);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(md) {
        font-size: mvw(43.67);
        padding: mvw(23) 0 mvw(24) 0;
        height: mvw(96);
    }

}
&__content--box--white--three{
    font-size:vw(42);
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    @include mq(md) {
        font-size: mvw(67.93);
    }
}
&__content--note{
    font-size: vw(10);
    color: #000;
    @include mq(md) {
        font-size: mvw(14);
    }
}
}
.experience{
    padding: vw(10) vw(10) vw(40) vw(10);
    text-align: center;
    @include mq(md) {
    padding: mvw(50) mvw(20) mvw(36) mvw(20);
    }
    &__btn--item,&__content--box{
        max-width: vw(350);
        margin: 0 auto;
        text-align: center;
        @include mq(md) {
            max-width: mvw(1030);   
        }
    }
    &__content--title{
        font-size: vw(21);
        color: #fa7da3;
        margin-bottom: vw(13);
        @include mq(md) {
            font-size: mvw(34);
            margin-bottom: mvw(22);
        }
    }
    &__content--btn{
        width: vw(350);
        height: vw(80);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #49c43d;
        text-align: center;
        color: #fff;
        border-radius: 50px;
        padding: vw(16) vw(65);
        font-size: vw(21);
        margin-bottom: vw(30);
        font-weight: bold;
        @include mq(md) {
        width: mvw(570.58);
        height: mvw(130.1);
        padding:  mvw(26) mvw(43) mvw(26) mvw(110);
        font-size: mvw(34);
        margin: 0 auto mvw(46) auto;
        border-radius: 80px;
        gap: mvw(41);
    }
}
    &__content--btn a{
        text-decoration: none;
        color: #fff;
        display: block;
    }
    .experience-arrow-right{
        display: block;
    }
    &__content--border--groop{
        color: #50bfff;
        margin-bottom: vw(15);
        @include mq(md) {
            margin-bottom: mvw(24);
        }
    }
    &__content--border{
        width: vw(350);
        border: 1px solid #50bfff;
        @include mq(md) {
        width: mvw(572);
        margin: 0 auto;
}
    }
    &__content--border--title{
        font-size: vw(17);
        margin-top: vw(7);
        margin-bottom: vw(7);
        @include mq(md) {
            font-size: mvw(28);
            margin-top: mvw(19);
            margin-bottom: mvw(19);  
    }
}
    &__content--list{
        list-style: none;
        text-align: left;
        white-space: nowrap;
        @include mq(md) {
        width: mvw(570);
        margin: 0 auto;
        }
    }
    &__content--list--item--service--a{
        font-size: vw(14);
        @include mq(md) {
            font-size: mvw(22.86);
        }
    }
    &__content--list--item--service--b{
        font-size: vw(11);
        @include mq(md) {
            font-size: mvw(17.96);
    }
    }
}
.threepoint{
    padding:vw(32) vw(19) vw(10) vw(21);
    background-color: #fdf0f5;
    @include mq(md) {
        padding: mvw(50) mvw(10) mvw(15) mvw(10);
    }
    &__content{
        max-width: vw(350);
        margin: 0 auto;
        text-align: center;
        @include mq(md) {
            max-width: mvw(780);
    }
}
    &__content--img{
        font-size: vw(18);
        margin-bottom:vw(8) ;
        color: #4d2b1b;
        @include mq(md) {
            font-size: mvw(18.07);
            margin-bottom: mvw(15);
        }

    }
    &__content--kbl--img{
        width: vw(200);
        height: vw(15);
        @include mq(md) {
            width: mvw(265);
            height: mvw(20);
        }
    }
    &__content--title{
        font-weight: bold;
        color: #fa7da3;
        font-size: vw(32);
        margin-bottom: vw(21);
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(md) {
            font-size: mvw(42);
            margin-bottom: mvw(47);
        }
    }
    &__content--box {
        padding: 0 ;
        margin: 0;
    }
    &__content--box li{
        list-style: none;
        margin-bottom: vw(26);
        @include mq(md) {
            margin-bottom: mvw(50);
            width: 100%;
        }
    }
    &__content--title--module{
        width: vw(37.31);
        height: vw(46);
        @include mq(md) {
            width: mvw(60);
            height: mvw(60);
        }
    }
    &__content--item{
        border: 1px solid #fa7da3;
        border-radius: 10px;
    }
    &__content--item--point{
        font-size: vw(18);
        color: #fff;
        background-color: #fa7da3;
        padding: vw(13) vw(10) vw(6) vw(10);
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        margin: 0;
        @include mq(md) {
            font-size: mvw(28);
            padding: mvw(19) mvw(10) mvw(11) mvw(10);
        }
    }
    &__content--item--point--border{
        border-left: 3px solid #fff;
        width: vw(18);
        display: block;
        margin:0 0 0 vw(25);
        @include mq(md) {
            width: mvw(27);
            margin:0 0 0 mvw(25);
        }
    }
    &__content--item--point--container{
        padding: vw(15) vw(10) vw(9) vw(10);
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        @include mq(md) {
            padding: mvw(27) mvw(10) mvw(31) mvw(10);
        }
    }
    &__content--item--point--text{
        max-width: vw(310);
        text-align: left;
        margin:0 auto;
        font-size: vw(14);
        margin-bottom: vw(10);
        color: #333;
        @include mq(md) {
            font-size: mvw(21);
            margin-bottom: mvw(26);
            max-width: mvw(710);
        }
    }
    &__content--item--point1--container--flex{
        display: flex;
        max-width: vw(310);
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        gap: vw(22);
        @include mq(md) {
            max-width: mvw(510);
            gap: mvw(44);
            align-items: flex-start;
        }
    }
    &__content--item--point1--container--flex--logo--area{
        border: 1px solid #fa7da3;
        padding: vw(19) vw(30) vw(19) vw(30);
        margin-bottom: vw(9);
        @include mq(md) {
            padding: mvw(30) mvw(54) mvw(34) mvw(54);
            margin-bottom: mvw(14);
        }
    }
    &__content--item--point1--container--flex--logo--img{
        width: vw(76);
        height: vw(46);
        @include mq(md) {
            width: mvw(125);
            height: mvw(68);
        }
    }
    &__content--item--point1--container--flex--logo--text{
        font-size: vw(14);
        color: #333;
        @include mq(md) {
            font-size: mvw(21);
        }
    }
    &__content--item--point1--container--flex--asalon--block{
        background-color:#fdf0f5;
        padding: vw(35) vw(37);
        border: 1px solid #666;
        color: #433e3f;
        @include mq(md) {
            padding: mvw(30) mvw(54) mvw(34) mvw(54);
            width: mvw(236);
            height: mvw(137);
            background-color: #fff;
            font-size: mvw(29.03);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: mvw(14);
        }
    }
    &__content--item--point2--container--title--a{
        margin-top: vw(18);
        margin-bottom: vw(29);
        font-size: vw(23);
        color: #4d2c1c;
        @include mq(md) {
            margin-top: mvw(16);
            margin-bottom: mvw(20);
            font-size: mvw(24);
        }
    }
    &__content--item--point2--container--body{
        width: vw(311);
        height: vw(350);
        margin: 0 auto;
        margin-bottom: vw(38);
        @include mq(md) {
            display: none;
    }
}
        &__content--item--point2--container--body--pc{
            display: none;
        @include mq(md) {
            display: block;
            width: mvw(558);
            height: mvw(601);
            margin: 0 auto;
            margin-bottom: mvw(50);
        }
    }
    &__content--item--point2--container--title--b{
        font-size: vw(23);
        color : #4d2c1c;
        margin-bottom: vw(29);
        @include mq(md) {
            font-size: mvw(24);
            margin-bottom: mvw(28);
        }
    }
    &__content--item--point2--container--list li{
        margin-bottom: vw(9);
        @include mq(md) {
            margin-bottom: mvw(0);
        }
    }
    &__content--item--point2--container--list{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 3.0679230769vw;
        padding: 0;
        @include mq(md) {
            width: mvw(660);
            gap: mvw(12);
            flex-wrap: nowrap;
            margin: 0 auto;   
        }
    }
    &__content--item--point2--container--list--part{
        width: calc((100% - 2*3.0679230769vw)/3);
        font-size: vw(14);
        color: #fa7da3;
        @include mq(md) {
            max-width: mvw(100);
            font-size: mvw(14);
            margin: 0 auto;
    }
}
&__content--item--point2--container--list--part--img{
    width: 100%;
    @include mq(md) {
        height: mvw(100);
        font-size: mvw(14);
        margin: 0 auto;
    }
}    
&__content--item--point--text--3{
        background-color: #fff;
        border-radius: 0 0 vw(10) vw(10);
        text-align: left;
        padding: vw(20) vw(20) vw(14) vw(21);
        font-size: vw(14);
        @include mq(md) {
            padding: mvw(34) mvw(39) mvw(21) mvw(41);
            font-size: mvw(21);
            border-radius: 0 0 mvw(10) mvw(10);
        }

    }
}
.experience__btn--item--under{
    margin: vw(20) auto;
    @include mq(md) {
        margin: mvw(45) auto;
    }
}
.others{
    padding: vw(10) vw(5) vw(20) vw(5);
    text-align: center;
    @include mq(md) {
        padding: mvw(5) mvw(20) mvw(61) mvw(20);
    }
    &__content{
        margin: 0 auto;
        max-width: vw(350);
        @include mq(md) {
            max-width: mvw(1030);
        }
    }
    &__content--pickup{
        font-size: vw(18);
        margin-bottom: vw(10);
        @include mq(md) {
            font-size: mvw(24);
            margin-bottom: mvw(0);
        }
    }
    &__content--list{
        display: flex;
        flex-direction: column;
        gap: vw(30);
        @include mq(md) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: mvw(31);
            margin: 0 auto;
    }
}
    &__content--list li{
        list-style: none;
    }
    &__content--list--item{
        width: vw(350);
        height: vw(341);
        border: 1px solid #fa7da3;
        border-radius: 10px;
        @include mq(md) {
        width: mvw(350);
        height: mvw(364);
        
    }
}
    &__content--list--item--title{
        font-size: vw(18);
        font-weight: normal;
        padding: vw(10) vw(5);
        background-color: #fdf0f5;
        color: #fa7da3;
        border-radius: 10px 10px 0 0;
        @include mq(md) {
            font-size: mvw(28);
            padding: mvw(10) mvw(20);
        }
    }
    &__content--list--item--text{
        font-size: vw(14);
        text-align: left;
        padding: vw(10) vw(20) vw(10) vw(21);
        @include mq(md) {
            font-size: mvw(18);
            padding: mvw(10) mvw(20);
            line-break: anywhere;
        }
    }    
    &__content--list--item--img{
        width: vw(318);
        height: vw(211);
        margin-bottom: vw(18);
        @include mq(md) {
            width: mvw(318);
            height: mvw(211);
            margin-bottom: mvw(17);
        }
    }
}
